.header-container {
    background-color: #f8f9fa; /* Couleur de fond du header */
    padding: 10px 0; /* Ajustez les padding si nécessaire */
}

.page-container {
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 15px; /* Ajoute un padding pour les petits écrans */
}

.logo img {
    max-height: 60px; /* Ajustez la hauteur maximale du logo */
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Espacement entre les éléments de navigation */
}

.nav-item a {
    text-decoration: none;
    color: #333; /* Couleur du texte */
    padding: 5px 10px;
}

.nav-item a:hover {
    color: #007bff; /* Couleur lors du survol */
}

.user-tools {
    display: flex;
    gap: 15px; /* Espacement entre les outils utilisateur */
}